nav {
  font-weight: bold;
  padding: 8px 0 !important;
  justify-content: space-between !important;
}
nav a {
  color: #212529;
}
.nav-active {
  color: #0056b3;
}
.color-white {
  color: #fff;
}
.nav-bottom {
  font-weight: 500;
}
.nav-bottom li a {
  padding: 0 !important;
}
.nav-bottom .nav-link {
  padding: 0.5rem 0 !important;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f5f5f5;
  z-index: 1;
  list-style: none;
  border-radius: 4px;
  overflow: hidden;
}
.navbar-home {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 3;

  background-color: #fff;
}
.navbar-transparent {
  background-color: transparent;
  transition: all 0.5s;
}
.nav-collapse {
  height: 0;
  opacity: 0;
  transform: rotateX(90deg);
}
.nav-show {
  height: auto;
  opacity: 1;
  transform: rotateX(0);
  transition: all 0.5s;
}
.svg-color{
  fill: #404145;
}
.svg-white{
  fill: #fff;
}
.nav-link{
  transition: .5s;
}
.nav-link:hover{
  background-color: #497282;
  border-radius: 5px;
  color: #fff;
}
.btn-join{
  color: #fff;
  font-weight: 700;
  padding: 10px 20px;
  background-color: #497282;
  border:1px solid transparent;
  border-radius: 5px;
}
.btn-join:hover{
  background-color: #3e5e6a;
  border: 1px solid #497282;
  color: #fff;
  transition: .5s;
}